.enquete{
	background-color: #3197d6;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
    align-items: flex-start;
	justify-content: center;
	color: white;
}

.enquete-box{
	width: 90%;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.enquete-form-item{
	border: 2px solid white;
	padding: 0px 20px 10px;
	margin-bottom: 20px;
	text-align: left;
}

.opcao-item {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.desc {
	border: 2px solid white;
	padding: 10px;
	width: 75%;
	text-align: left;
}

.aprovacao{
	border: 2px solid white;
	width: 15%;
	padding: 5px;

	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

form{
	width: 70%;
}

.enquete-form-end{
	margin-top: 30px;
	text-align: right;
}

.enquete-form-end a{
	text-decoration: none;
}

.enquete-form-button{
	border: 2px solid white;
	padding: 10px;
  	background: none;
	color: white;
	cursor: pointer;
	font-size: 16px;
}

.enquete-form-button:focus{
	/*remove borda de button*/
	outline-style: none;
}

.aprovacao img{
	height: 30px;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img{
	cursor: pointer;
	opacity: 0.5;
}

/* CHECKED STYLES */
[type=radio]:checked + img, [type=radio]:hover + img{
	opacity: 1;
}